

.container {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    resize: vertical;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    width: 10%;
}
